body{
    margin: 0px;
    padding: 0px;
}
.image{
    width: 40px;
    margin-right: 20px;

}
#carouselExampleSlidesOnly{
    padding-top: 15px;
}
.nav1{
    position:fixed;
    padding-bottom: 10px;
    
}
.aboutus{
    text-align: center;
}
.aboutimg{
    width: 250px;
   height: 250px;
}
